body {font-family: consolas;}

h3.none {
    border-style: none;
}

h3.hidden {
    border-style: hidden;
}

h3.dotted {
    border-style: dotted;
}

h3.dashed {
    border-style: dashed;
}

h3.solid {
    border-style: solid;
}

h3.double {
    border-style: double;
}

h3.groove {
    border-style: groove;
}

h3.ridge {
    border-style: ridge;
}

h3.inset {
    border-style: inset;
}

h3.outset {
    border-style: outset;
}

h3.mix {
    border-style: dotted dashed solid double;
}