body {font-weight: bold; font-size: 12pt; font-family: consols;}
.bt1 {
    background-color: aqua;
    margin-bottom: 15px; padding-left:50px ;
    border-style:dotted ; border-width:thick ;
    border-color: green;
}
.bt2 {
    background-color: aquamarine;
    margin-bottom: ; padding-left: ;
    border-style: ; border-width: ;
    border-color: ;
}
.bt3 {
    background-color: antiquewhite;
    margin-bottom: ; padding-left: ;
    border-style: ; border-width: ;
    border-color: ;
}
.bt4 {
    border-top: ;
    border-bottom: ;

}