#show>div:nth-last-of-type(2n) {
    background-color: mediumaquamarine;
}

.row {
    border: 1px solid black;
}

span {
    color: dodgerblue;
    padding: 15px;
    
}

strong {
    background-color: navajowhite;
    text-align: end;
    

}

.pageination button {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    

}
.pageination button.active {
    background-color: darkgreen;
    color: white;
}

.pageination button:hover:not(.active) {
    background-color: forestgreen;
    
}